<h1>It's time to eat your burger!</h1>

<div class = 'row burgers'>
    <div class ='six-columns undevoured'>
        <h4>Burgers to devour</h3>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <div class='burger-uneaten'>
                <li>{{burger_name}}</li>
                <button class='devour-button' data-id={{id}}>Devour!</button>
            </div>
            {{/unless }}
            {{/each }}
        </ul>
    </div>

    <div class ='six columns devoured'>
        <h4>Burgers Devoured</h3>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <div class='burger-eaten'>
                <li><p>{{burger_name}}</p></li>
            </div>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<div class ='row add-burger-input'>
    <h4>Don't see anything you like? Add another burger:</h3>

    <form class='create-burger'>
        <label for='burger'>Burger name:</label>
        <input type='text' id='create-burger-form' name='burger-name'>
        <button id='add-burger'>Add Burger</button>
    </form>
</div>